html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.customer-home {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.customer-home::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url("/assets/spy.png") center/cover no-repeat;

    filter: blur(6px) brightness(0.6);
    transform: scale(1.05);

    z-index: -1;
}




.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4rem;
    padding: 1rem;
    width: 100%;
}

button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--defwhite);
    font-size: 1.2rem;
    min-width: 160px;
    transition: transform 0.15s ease-in-out;
}

button:hover {
    background-color: rgb(63, 59, 59);
    transform: scale(1.05);
}

.checkout-buttons {
    margin-top: 1.5rem;
}

.checkout-buttons button {
    width: 250px;
    padding: 1rem;
    background: #ab2114;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid #8C1E16;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow:
        0 0 6px rgba(187, 39, 25, 0.4),
        inset 0 0 4px rgba(0,0,0,0.4);
    transition: 0.2s ease-in-out;
}

.mission-title {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
