.meal-builder-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 4rem auto 0 auto;
    width: 100%;
}

.dish-box-row{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.button-row{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}