.meal-builder-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 4rem auto 0 auto;
    width: 100%;
}

.dish-box-row{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.button-row{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.qty-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin: 1rem 0;
}

.qty-btn {
    all: unset;
    width: 18px;
    height: 18px;
    background-color: #BB2719;
    color: white;
    border-radius: 50%;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.qty-btn:hover {
    background-color: #8a1d14;
}

.qty-num {
    font-size: 1.4rem;
    font-weight: bold;
    width: 2.5rem;
    text-align: center;
    color: white;
}