.order-box {
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.75rem;
    overflow-y: auto;
    margin: 0 auto;
}

.order-box-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}
