.order-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--defwhite);
    border-radius: 0.5rem;
    padding: 0.25rem;
    box-shadow: 0 1px 3px rgba(43, 197, 74, 0.1);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    width: 24vw;
    height: auto;
    margin: 1 auto;
}

.order-card-title {
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
    color: var(--defblack);
    margin: 0;
}

.order-card-text {
    font-size: 0.65rem;
    color: var(--defblack);
    margin: 0;
}
