.order-box {
    background-color: #6761e9;
    padding: 0.5rem;
    border-radius: 0.75rem;
    overflow-y: auto;
    margin: 0 auto;
}

.order-box-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.slots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
