:root {
  background-color: #D16D69;/* was 242424*/
  --primary-color: #BB2719;/*default panda red #BB2719*/
  --secondary-color: #D16D69;/*#D16D69<-- from project 2*/
  --defblack: black;/* currently black idk if we'd want to change but now we can!*/
}