.kitchen-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.slots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}