.home-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    padding: 0;
}

.home-card {
    background: linear-gradient(145deg, #BB2719, #a02015);
    padding: 2rem 4rem;
    border-radius: 1.5rem;
    box-shadow:
        0 0 25px rgba(0, 0, 0, 0.6),
        0 0 12px rgba(187, 39, 25, 0.7);
    text-align: center;
    max-width: 450px;
    width: 100%;

    border: 2px solid rgba(255, 255, 255, 0.15);
}

.home-logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 1.5rem;
    background: rgba(131, 7, 7, 0.15);
    padding: 1rem;
    border-radius: 50%;
    box-shadow:
        0 0 12px rgba(255, 255, 255, 0.4),
        inset 0 0 12px rgba(0,0,0,0.5);
}

.home-title {
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--defwhite);
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    text-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.home-subtitle {
    font-size: 1.2rem;
    color: var(--defwhite);
    opacity: 0.85;
    margin-bottom: 2rem;
    letter-spacing: 0.8px;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-buttons button {
    padding: 1rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    border: 2px solid --defblack;
    color: var(--defwhite);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow:
        0 4px 10px rgba(0,0,0,0.5),
        0 0 6px rgba(0,0,0,0.3);

    transition: 0.2s ease;
}

.home-buttons button:hover {
    transform: scale(1.05);
    background-color: rgba(210, 21, 21, 0.9);
    box-shadow:
        0 0 10px rgba(125, 4, 4, 0.9),
        0 0 18px rgba(149, 10, 10, 0.6),
        0 0 25px rgba(73, 6, 6, 0.4);
}
