body{
    overflow: auto;
}

.board{
    /* This is the calc that worked for me to get the menuboard the exact screen height but I think it might be different for each machine... */
    height: calc(100vh - 16.9vh); 
    width: 100%;
    overflow-y: auto;
    overflox-x: hidden;
}
