.dish-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    width: 7vw;
    margin: 0 auto;
}

.dish-card:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.dish-card-image {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
}

.dish-card-title {
    font-size: 0.65rem;
    font-weight: 600;
    text-align: center;
    color: black;
    margin: 0;
}

.dish-card-price {
    font-size: 0.65rem;
    color: black;
    margin: 0;
}

.dish-card.selected {
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.5);
    transform: scale(1.05);
    transition: all 0.15s ease-in-out;
}

.dish-card.selected:hover {
    box-shadow: 0 0 12px rgba(231, 76, 60, 0.7);
}
