.dish-box {
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.75rem;
    overflow-y: auto;
    margin: 0 auto;
}

.dish-box-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.dish-box-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.20rem;
}
