.managerHome{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    box-sizing: border-box;
}

.reports{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.zDisplay, .historyContainer{
    color: white;
}

.zDisplay{
    width: 75%;
}

.agentImg{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 1%;
    color: white;
}

.man-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.55rem 0.8rem;
    margin-left: 1rem;
    background: #333;
    color: #eee;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #222;

    transition: 150ms ease;
}

.man-btn:hover {
    background: #BB2719;
    color: white;
    border-color: #BB2719;
    box-shadow: 0 0 10px rgba(187,39,25,0.4);
}

.man-btn.active {
    background: #BB2719;
    color: white;
    font-weight: 600;
    border-color: #BB2719;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
}