html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
}

.managerHome{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.chartContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}

.lineChart{
    display: flex;
    flex: 1;
    background-color: whitesmoke;
    min-width: 0;
}

.tableContainer{
    display: flex;
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}