.employeeData{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.employeeDisplays{
    flex-direction: column;
    width: 50%;
}

.employeeChart{
    flex: 1;
    background-color: whitesmoke;
    min-width: 0;
}

.tableContainer{
    color: white;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
}

.textContainer{
    flex-direction: row;
    text-align: center;
    width: 33%;
    padding: 10px;
}

.editContainer{
    padding: 5px;
    padding-bottom: 50px;
    border: 5px solid white;
}

.addContainer{
    padding: 5px;
    padding-top: 50px;
    border: 5px solid white;
}