.employeeData{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.employeeChart{
    display: flex;
    flex: 1;
    background-color: whitesmoke;
    min-width: 0;
}

.tableContainer{
    display: flex;
    flex: 1;
    color: white;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
}

.editContainer{
    padding-bottom: 50px;
}

.addContainer{
    padding-top: 50px;
}