.inventory{
    display: flex;
    flex-direction: row;
    width: 99vw;
}

.inventoryDisplays{
    flex-direction: column;
    width: 100%;
}

.inventoryChart{
    display: flex;
    flex: 1;
    background-color: whitesmoke;
    min-width: 0;
}