.orderTrends{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.dishDisplays{
    width: 100%;
}

.dishChart{
    flex: 1;
    background-color: whitesmoke;
    min-width: 0;
    height: 450px;
}