
header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--defwhite);
}

#Logo {
    height: 100pt;
}

#Greeting {
    font-size: 2rem;
    font-weight: bold;
}

#Time {
    font-size: 2rem;
}
