
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden; 
}

.layout-content {
  display: flex;
  flex: 1;
}

.page {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}

