
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #101010;
    background-image: radial-gradient(rgba(255,0,0,0.15), transparent 70%);
    background-size: 600px 600px;
}

.header-wrapper {
    display: flex;
}

/* Parent div for both navbar and pages */
.layout-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.navbar-wrapper {
    display: flex;
    position: sticky;
    top: 0;
    height: fit-content;

    width: 15rem;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.page {
    flex: 1;
    display: flex;
    min-width: 0;
    margin: 1rem;
    justify-content: center;
}

