
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.header-wrapper {
    display: flex;
}

/* Parent div for both navbar and pages */
.layout-content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.navbar-wrapper {
    display: flex;
    width: 15rem;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.page {
    flex: 1;
    display: flex;
    min-width: 0;
    margin: 1rem;
    justify-content: center;
}

