.navbar {
	background: #242424;
	color: white;
	padding: 1.2rem;
	gap: 100rem;
	height: 100%; /* fill vertical space */
}

.nav-links {
	display: flex;
	flex-direction: column;
}

.navbar a {
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
}

.navbar a:hover {
	color: #ffcc00;
}

