.navbar {
	background: var(--primary-color);
	color: white;
	display: flex;
	padding: 1rem;
	height: 100%;
}

.nav-links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.navbar a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	transition: all 0.2s ease;
	text-align: left;
	background: rgba(255, 255, 255, 0.05);
}

.navbar a:hover {
	color: white;
	background: red;
	box-shadow: 0 0 10px black, 0 0 20px black;
}

