
.nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.nav-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0 0 auto;
}


.nav-section-title {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.50);
}

.nav-item {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0 0 0 1rem;

    font-family: inherit;
    font-size: 1rem;
    text-decoration: none;
    text-align: left;

    border-radius: 10px;
    border: 0;

    color: var(--defwhite);
    background: var(--primary-color);
    transition: background-color 160ms ease, transform 120ms ease;
}


.nav-item:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.02);
}

/* NavLink selected state */
.nav-item.active {
    font-weight: 500;
    background: rgba(255, 255, 255, 0.25);
}

